{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
<script type="text/javascript" src="../static/scripts/jquery.client.js"></script>
<script type="text/javascript" src="../static/scripts/secret.js"></script>
<script type="text/javascript" src="/static/scripts/js.cookie.js"></script>
<script type="text/javascript" src="../static/scripts/companyselection.js"></script>
<link rel="stylesheet" type="text/css" href="../static/styles/style.css"></script>

<div class="container-fluid">

	<div class="row">
		<div class="title-text">
			Which companies are you interested in?
		</div>
	</div>

	<div class="row">
		<div class="total-msg">
			<p>Get an analysis of the best places to work based on your priorities. <br />
			Enter 3 companies using the search boxes below.<br /></p>
		</div>
	</div>

	<div class="row">

		<form class="form-inline" id="companies-form" action="{% url 'results' %}" method="POST"> {% csrf_token %}
		<div class="col-md-4">
			<div class="form-group" align="center">
				<label for "company one">Company One</label>
				<input type="text" name="company1" id="company1" class="company" min="2" required> <br />
				
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group" align="center">
				<label for "company one">Company Two</label>
				<input type="text" name="company2" id="company2" class="company" required> <br />
				
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group" align="center">
				<label for "company one">Company Three</label>
				<input type="text" name="company3" id="company3" class="company" required> <br />
				
			</div>
		</div>

	</div>

	<div class="row">
		<div class="col-md-4 company-logo" id="company1-img" align="center" ></div>
		<div class="col-md-4 company-logo" id="company2-img" align="center"></div>
		<div class="col-md-4 company-logo" id="company3-img" align="center"></div>
	</div>



	<div class="row">
		<div class="col-md-10"></div>
		<div class="col-md-2">
			<input type="submit" class="btn btn-custom" id="companies-submit" name="next-results">see results</input>
		</div>
	</form>
	</div>
</div>
<!--end regular page content-->



	<!-- This modal appears automatically when a search term does n
	match a company name exactly in the Glassdoor API -->
	<div id="queryNoMatchModal" class="modal fade" role="dialog" data-backdrop="static">
	  <div class="modal-dialog">

	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <h4 class="modal-title"></h4>
	      </div>
	      <div class="modal-body">
	        <p>Your query for wasn't an exact match with any company -- did you mean one of the ones below?<br />

	        <div id="company-clarify-select">
	       		<form id="clarifyCompanyForm" name="clarifyCompanyForm" >
	        	<!-- filled in with jQuery/JavaScript -->
	        	</form>
	        </div>
	        </p>
	      </div>
	      <div class="modal-footer">
	      	<button type="button" class="btn btn-custom" id="cancel-button" data-dismiss="modal">cancel</button>
	        <button type="button" class="btn btn-custom" id="clarify-button" data-dismiss="modal">select & close</button>
	      </div>
	    </div>

	</div>
	</div>

		<!-- Modal content-->

		<div id="gd-error-modal" class="modal fade" role="dialog">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h4 class="modal-title">Uh oh</h4>
		      </div>
		      <div class="modal-body">
		        We were unable to contact the Glassdoor API.<br />
		        Please try again later.
		      </div>
		      <div class="modal-footer">
		      	<button type="button" class="btn btn-custom" id="cancel-button" data-dismiss="modal">close</button>
		      </div>
		    </div>
		  </div>
		</div>


{% endblock %}