{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
<script type="text/javascript" src="../static/scripts/jquery.client.js"></script>
<script type="text/javascript" src="../static/scripts/secret.js"></script>
<script type="text/javascript" src="../static/scripts/companyvalidation.js"></script>

<div class="container">
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			Which companies are you interested in?
		</div>
		<div class="col-md-4"></div>
	</div>
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			Get a ranked list, based on your priorities, for up to 3 companies using the search boxes below.
		</div>
		<div class="col-md-2"></div>
	</div>
	<form class="form-inline" id="companies-form" action="" method="get">
	<div class="row">
		
		<div class="col-md-4">
			<div class="form-group">
				<input type="text" name="company1" id="company1" class="company" min="2" required> <br />
				<label for "company one">Company #1</label>
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<input type="text" name="company2" id="company2" class="company" required> <br />
				<label for "company one">Company #2</label>
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<input type="text" name="company3" id="company3" class="company"> <br />
				<label for "company one">Company #3</label>
			</div>
		</div>

	</div>

	<div class="row">
		<div class="col-md-5"></div>
		<div class="col-md-2">
			<button type="submit" class="btn btn-default" id="companies-submit" name="next-results">see results</button>
		</div>
		<div class="col-md-5"></div>
	</div>
	</form>


	<!-- Trigger the modal with a button -->
	<!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#queryNoMatchModal" >Open Modal</button> -->

	<!-- This modal appears automatically when a search term does n
	match a company name exactly in the Glassdoor API -->
	<div id="queryNoMatchModal" class="modal fade" role="dialog" data-backdrop="static">
	  <div class="modal-dialog">

	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <h4 class="modal-title"></h4>
	      </div>
	      <div class="modal-body">
	        <p>Your query for wasn't an exact match with any company -- did you mean one of the ones below?<br />
	        </p>
	        <div id="company-clarify-select">
	       		<form id="clarifyCompanyForm" name="clarifyCompanyForm" >
	        	
	        	<!-- filled in with jQuery/JavaScript -->
	        	
	        	</form>
	        </div>
	        </p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" id="clarify-button" data-dismiss="modal">select & close</button>
	      </div>
	    </div>

	  </div>
	</div>
</div>
</div>

{% endblock %}