
img  {
	max-width: 100%;
    height: auto;
	width: 30px;
	color: red;
	border-style: solid;
	border-width: 1px;
	border-color:black;
}

img#opportunities {
	border-style: solid;
	border-width: 1px;
	border-color: red;
}

svg {

	fill: red;
}