

body {
	padding-top: 65px;
	font-family: 'Lato', sans-serif;
}

div {
	text-align: center;
	align: center;
}

.navbar {
	background-color: #F2D8F2; 
	border-radius: 0px;
	opacity: 0.75;
}

a.navbar-brand {
	color: #181B59;
}

a {
	font-family: 'Quicksand', sans-serif;
}

.navbar-brand {
	font-family: 'Quicksand', sans-serif;
	font-size: 2em;
}

img.company-logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.company-info {
	text-align: center;
}


input[type='text'] {
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom-color: #181B59;
	border-bottom-width: 3px;
	text-align: center;
	font-size: 1.2em;
	width: 100%;
	-webkit-appearance: none; 
    -moz-appearance: textfield; 
    appearance:none;
    display: block;
    margin : 0 auto;
}


input[type='number'],.priorities-input {
	border-width-top: 0px;
	border-top: none;
	border-width-right: 0px;
	border-right: none;
	border-width-left: 0px;
	border-left: none;
	text-align:center;
	border-bottom-color: #181B59;
	border-bottom-width: 3px;
	text-align: center;
	vertical-align: middle;
	font-size: 1.2em;
	width: auto;
	-webkit-appearance: none; 
    -moz-appearance: textfield; 
    appearance:none;
    display: inline-block;
    margin: 0 auto;
    vertical-align: middle;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

img.priorities-img {
	max-width: 100%;
    height: auto;
	width: 50px;
	position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.title-text {
	font-family: 'Quicksand', sans-serif;
	font-size: 1.5em;
	padding: 1em;
	text-align: center;
}

.total-msg {
	text-align: center;
	padding-bottom: 1em;
}


.btn-next {
	text-align:center;
}

.btn{
	background-color:white;
	border-width: 2px;
	border-style: solid;
	border-color: #181B59 !important;
	border-radius: 15px;
	color: #181B59;
}

.btn:hover{
	background-color:#181B59;
	border-width: 2px;
	border-style: solid;
	border-color: #181B59 !important;
	border-radius: 15px;
	color: white;
}

.btn:disabled{
	background-color:#F2D8F2;
	border-width: 2px;
	border-style: solid;
	border-color: #F2D8F2 !important;
	border-radius: 15px;
	color: white;
	opacity:0.8;
}
 

label {
	color: #181B59;
	display: block;
    margin : 0 auto;
}

/*#F2D8F2*/