

body {
	padding-top: 65px;
	font-family: 'Lato', sans-serif;
}

.navbar {
	background-color: #F2D8F2; 
	border-radius: 0px;
	opacity: 0.75;
}

a.navbar-brand {
	color: #181B59;
}

a {
	font-family: 'Quicksand', sans-serif;
}

.navbar-brand {
	font-family: 'Quicksand', sans-serif;
	font-size: 2em;
}

label, input {
	display: table-cell; 
	vertical-align: middle;
}

img.company-logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

label, input {
	display: table-cell;
    vertical-align: middle
}

input[type='text'] {
	border-width-top: 0px;
	border-top: none;
		border-width-right: 0px;
	border-right: none;
		border-width-left: 0px;
	border-left: none;

	border-bottom-color: #181B59;
	border-bottom-width: 3px;
	text-align: center;
	font-size: 1.4em;
	width: 100%;
	-webkit-appearance: none; 
    -moz-appearance: textfield; 
    appearance:none;
    vertical-align: middle;
}


input[type='number'],.priorities-input {
	border-width-top: 0px;
	border-top: none;
	border-width-right: 0px;
	border-right: none;
	border-width-left: 0px;
	border-left: none;
	text-align:center;
	border-bottom-color: #181B59;
	border-bottom-width: 3px;
	text-align: center;
	vertical-align: middle;
	font-size: 1.4em;
	width: auto;
	-webkit-appearance: none; 
    -moz-appearance: textfield; 
    appearance:none;
    display: inline-block;
    margin: 0 auto;
    vertical-align: middle;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

img.priorities-img {
	max-width: 100%;
    height: auto;
	width: 50px;
	position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.title-text {
	font-family: 'Quicksand', sans-serif;
	font-size: 1.5em;
	padding: 1em;
	text-align: center;
}

.total-msg {
	text-align: center;
	padding-bottom: 1em;
}

.priorities-grid, input[type="number"], img, label {
/*	margin-left:auto;
	margin-right:auto;
    display: block;*/
    vertical-align: middle;
   /* top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)*/
	
}

.btn-next {
	text-align:center;
}
 

label {
	color: #181B59;
}
/*
img.company-logo {
	padding: 10px;
}
*/

/*#F2D8F2*/